@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); */

:root {
  
  --foreground: #171717;
  --card: #181818;
  --primary: #ff7a00;
  --text: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


  

  /* Chrome, Edge, Safari */
  ::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
    background-color: #27272A; /* Cor da faixa */
    
  }
  

  ::-webkit-scrollbar-track {
    /* background: #27272A; Cor da faixa */
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--primary); /* Cor do controle deslizante */
    border-radius: 20px;
    border: 1px solid #faa250; /* Espaçamento ao redor do thumb */
  }
body{
  /* background: var(--background); */
   color: var(--text);
   font-family: "Lobster", sans-serif;
}

.heroBackground {
  background: url('/img/salao3.png') no-repeat center center local;
  background-color: rgba(0, 0, 0, 0.747);
  background-size: cover;
  /* color: var(--text); */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: "Lobster", sans-serif; */
}


.heroBackground::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
  to right,
  rgba(0,0,0,0.85),
  rgba(0,0,0,0.4)
); /* Cor de sobreposição */
}
/* .section-dark {
  background: 
    linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0.60),
      rgba(20, 10, 5, 0.40)
    ),
    url('/img/bg-texture.png'); 
  
  background-size: cover;
  background-position: center;
}

.section-light {
  background: 
    linear-gradient(
      to bottom,
      rgba(30, 15, 5, 0.60),
      rgba(15, 10, 5, 0.40)
    ),
    url('/img/bg-texture.png') ; 

  background-size: cover;
  background-position: center;
  
}

.section-dark,
.section-light {
  position: relative;
}

.section-dark::before,
.section-light::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at top,
    rgba(255, 120, 0, 0.08),
    transparent 60%
  );
  pointer-events: none;
} */

.container {
  @apply max-w-[1440px] mx-auto px-4;
}


.button-orange {
  @apply bg-orange-500 hover:scale-105 hover:bg-orange-600 transition duration-300 text-orange-50  rounded ;
}

.button-white {
  @apply text-orange-500 bg-white transition duration-300 hover:bg-orange-50 hover:scale-105  rounded ;
}